@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Swiss721BT-BoldExtended";
  src: url("./assets/fonts/Swiss721BT-BoldExtended.woff2") format("woff2");
}

@font-face {
  font-family: "Swiss721BT-LightExtended";
  src: url("./assets/fonts/Swiss721BT-LightExtended.woff2") format("woff2");
}

body {
  @apply bg-[#121212] text-white font-swissLight;
}

input,
textarea {
  @apply text-black;
}

h1,
h2,
nav {
  @apply font-swissBold;
}

input {
  color: black;
}
